<h5>Resend confirmation instructions</h5>

<%= semantic_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <%= f.inputs do %>
    <%= f.input :email %>
    <%= f.submit "Resend confirmation instructions" %>
  <% end %>

<% end %>

<p class="leftPadded">
  <%= render :partial => "devise/shared/links" %>
</p>
