<h5>Resend unlock instructions</h5>

<%= semantic_form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <%= f.inputs do %>
    <%= f.input :email %>

    <%= f.submit "Resend unlock instructions" %>
  <% end %>
<% end %>

<%= render :partial => "devise/shared/links" %>
