<div class="devotion">
	<% showing_day ||= false %>
	<% letter ||= nil %>

	<% if devotion.devotion_day %>

	<h4	class="devotion_title">
		Day <%= devotion.devotion_day.day_no %><%= letter if letter %>: <%= devotion.title %>
	</h4>

	<% else %>

	<h4	class="devotion_title"><%= devotion.title %></h4>

	<% end %>


	<div class="devotion_text_container">
		<div class="devotion_verse">
			<span class="verse_text">
				<%= devotion.bible_text %>
			</span>
			&#8212;
			<span class="verse_reference">
				<%= devotion.full_verse_location %>
			</span>
		</div>

		<div class="devotion_text">
			<%= devotion.content.html_safe %>
		</div>

		<% devotion.videos.each do |video| %>
		<%= video.embed_block.html_safe %>
		<% end %>

		<% if devotion.attachment_file_name %>
		<p>Download attached

		<% attachment_type = 'file' %>
		<% case devotion.attachment_file_name.split(".")[-1].downcase %>
			<% when 'png','jpg','jpeg','gif' %>
				<% attachment_type = 'image' %>
			<% when 'pdf','doc','docx' %>
				<% attachment_type = 'document' %>
			<% when 'mp3','wav','wmv','avi','flv','mov','mp4','mpeg' %>
				<% attachment_type = 'clip' %>
		<% end %>

		<%= link_to attachment_type, devotion.attachment.url %></p>
		<% end %>
	</div>

	<% bio_class = "devotion_author_bio" %>
	<% if defined?(single) and single %>
		<% bio_class = "#{bio_class} single" %>
	<% end %>
	<div class="<%= bio_class %>">
		<span class="bio_label">
			<%= devotion.your_name %>
		</span>
		<span class="bio_text">
			<%= devotion.about_me %>
		</span>
	</div>

</div>
