<h3><%= devotion.title %> by <%= devotion.your_name %></h3>

<p><%= devotion.full_verse_location %></p>
<p><%= simple_format(devotion.bible_text) %></p>

<p><%= devotion.content %></p>

<h4>About <%= devotion.your_name %></h4>
<p><%= devotion.about_me %></p>

<p><%= link_to 'Permanent link to this devotion', devotion %></p>