<div class="devotion">
	<h4 class="devotion_title"><%= devotion.title %></h4>
	<h5 class="devotion_author"><%= devotion.your_name %></h5>

	<div class="devotion_verse">
		<span class="verse_text">
			<%= simple_format(devotion.bible_text) %>
		</span>
		<span class="verse_reference">
			<%= devotion.full_verse_location %>
		</span>
	</div>

	<div class="devotion_text">
		<%= devotion.content.html_safe %>
	</div>

	<div class="devotion_author_bio">
		<span class="bio_label">
			About <%= devotion.your_name %>:
		</span>
		<span class="bio_text">
			<%= devotion.about_me %>
		</span>
	</div>

	<% devotion.videos.each do |video| %>
	<%= video.embed_block.html_safe %>
	<% end %>

	<% if devotion.attachment_file_name %>
	<p>Download attachment "<%= devotion.attachment_file_name %>": <%= link_to 'Download', devotion.attachment.url %></p>
	<% end %>

	<p><%= link_to 'Permanent link to this reflection', devotion %></p>
</div>
