<div class="devotion">
	<h5 class="devotion_title">
		<%= devotion.title %>
		<%= render 'layouts/permalink', object: @devotion %>
	</h5>

	<div class="devotion_verse">
		<span class="verse_text">
			<%= devotion.bible_text %>
		</span>
		&#8212;
		<span class="verse_reference">
			<%= devotion.full_verse_location %>
		</span>
	</div>

	<div class="devotion_text">
		<%= devotion.content.html_safe %>
	</div>

	<% devotion.videos.each do |video| %>
	<%= video.embed_block.html_safe %>
	<% end %>

	<% if devotion.attachment_file_name %>
	<p>Download attachment "<%= devotion.attachment_file_name %>": <%= link_to 'Download', devotion.attachment.url %></p>
	<% end %>


	<% bio_class = "devotion_author_bio" %>
	<% if defined?(single) and single %>
		<% bio_class = "#{bio_class} single" %>
	<% end %>
	<div class="<%= bio_class %>">
		<span class="bio_label">
			<%= devotion.your_name %>
		</span>
		<span class="bio_text">
			<%= devotion.about_me %>
		</span>
	</div>

</div>
