<%= semantic_form_for @devotion do |f| %>
  <%= f.inputs do %>
    <%= f.input :title %>
    <%= f.input :bible_book %>
    <%= f.input :bible_chapter %>
    <%= f.input :bible_verse %>
    <%= f.input :bible_text %>
    <%= f.input :content, as: :rich %>
    <%= f.input :your_name %>
    <%= f.input :about_me %>

    <%= f.inputs :for => :videos do |v|%>

      <% if v.object.new_record? %>
      <p>Add a new video:</p>
      <% else %>
      <p>Existing Video:</p>
      <% end %>

      <%= v.input :url %>
    <% end %>
    <%= f.input :attachment, as: :file %>
  <% end %>
  <p>Your reflection can only be seen by you and the 40days coordinators until the day it is published.</p>
  <%= f.buttons do %>
    <%= f.submit 'Save and Preview' %>
  <% end %>
<% end %>