<div class="day">
	<div class="day_header">
	<% if multi %>

		<%= link_to "#{day.day_no.to_s}", day_path(day) %>
		<span>
			Day <%= day.day_no.to_s %>
		</span>


	<% else %>

		<%= link_to "#{day.day_no.to_s}", day_path(day) %>
		<span>
			<%= day.season.title %> - Day <%= day.day_no.to_s %>
		</span>

	<% end %>
	</div>

	<div class="day_intro">
		<p><%= day.coordinator_notes %></p>
	</div>

	<div class="days_devotions">
		<% day.devotions.each do |devotion| %>
			<%= render 'devotions/devotion', devotion: devotion %>
		<% end %>
	</div>
</div>
