<div class="day">
	<div class="day_header">
		<h4>
			<% if multi %>
				<%= link_to "Day #{day.day_no.to_s}", day_path(day) %>
			<% else %>
				<%= link_to "#{day.season.title} - Day #{day.day_no.to_s}", day_path(day) %>
			<% end %>
			<%#
			<%= render 'layouts/permalink', object: @day %>
		</h4>
	</div>

	<div class="days_devotions">
		<% if day.devotions.length > 1 %>
			<% day.devotions.each do |devotion| %>
				<%= render 'devotions/devotion', devotion: devotion %>
			<% end %>
		<% elsif day.devotions.length == 0 %>
			<%= simple_format('There are no devotions scheduled for today.') %>
		<% else %>
			<% day.devotions.each do |devotion| %>
				<%= render 'devotions/devotion', devotion: devotion, single: true %>
			<% end %>
		<% end %>
	</div>
</div>
