<h5 class="leftPadded">40days FAQ</h5>

<div id="faq_page">
  <ol>
    <li>
      <p>Why the term "reflection"?</p>
      <p>People reflect on their faith journeys, causing you to reflect on your own. (It seems obvious in retrospect, doesn't it?)</p>
    </li>

    <li>
      <p>How do I read/experience the contributions?</p>
      <p>That's up to you. There's no right way. If all you want to do is read the day's verse and ponder that, feel free to. If you revisit the reflection throughout the day, do so. If you don't like a particular reflection, go back and (re)read another one. Whatever it takes to draw you closer to God.</p>
    </li>

    <li>
      <p>Why is it not always the case that each day has one reflection?</p>
      <p>Answer 1: Because we go with what we have in our community, and we often have an outpouring of contributions that surpasses 40 days.  Sometimes we have less; sometimes we have server issues which lead to no reflections on a given day; sometimes we simply misplan.</p>
      <p>Answer 2: Because Lent is a time of "journeying" and experiencing paths &amp; choices that you normally don't. Having more than one reflection on a day gives you a choice of what path to take.  (And having no reflections may mean you can't simply manufacture a good Lenten website experience.)</p>
    </li>

    <li>
      <p>Why the theme of "stones of remembrance"?</p>
      <p>Because God has been awesome in our lives, and too often we don't tell others about it.  So, we're encouraging you to tell others about how God has impacted you in the past.</p>
    </li>

    <li>
      <p>Do I have to agree with the author?</p>
      <p>No. Agreement is not the requirement, nor is the point about figuring out who's "right." These aren't intended to be doctrinal statements or anything. These are reflections of faith from people who are works-in-progress. These come from the members of Exodus, and we wanted them to be free to follow the Spirit.</p>

      <p>Not every piece necessarily reflects the values &amp; mindset of Exodus. And that's okay. We are focusing on the unity we find in Christ and the freedom we have in Him. (If you're curious about Exodus's values, see: <%= link_to 'http://www.exodusbloomington.org/#/about-us/our-faith', 'http://www.exodusbloomington.org/#/about-us/our-faith' %>)</p>
    </li>

    <li>
      <p>Can I comment on the pieces?</p>
      <p>Not at this time (that would require extra web work, and we've overworked our volunteer web administrator as is). If you want to pass on your reflections on a reflection and don't know the person, contact <%= link_to 'md7@indiana.edu', 'mailto:md7@indiana.edu' %></p>
    </li>

    <li>
      <p>Why no reflections on Sundays?</p>
      <p>If you do the math, the 40 days of Lent (between Ash Wednesday on February 22 and Easter on April 8) do not include Sundays. Sundays have traditionally been seen as celebration days. They're "mini-Easters" (<%= link_to 'http://archives.umc.org/interior.asp?ptid=1&mid=2870', 'http://archives.umc.org/interior.asp?ptid=1&mid=2870' %>) ... I bet many of you fasters out there didn't know that you don't "have to" fast on Sundays during Lent ;)</p>
    </li>

    <li>
      <p>Where are the reflections from previous years?</p>
      <p>Soon after this season winds down, we'll be putting reflections from the previous two years into this site. For now, visit <%= link_to 'http://previous.exoworship.com', 'http://previous.exoworship.com' %> to see the old site.</p>
    </li>

    <li>
      <p>I'm from another church, or I'm just plain curious. Can I do my own 40days series?</p>
      <p>Yes! One of our big picture goals for 40days when we decided to revamp the site was to make it easy to spread. The project is open source and the code for the site can be used or reworked by anyone freely.</p>
      <p>More info for implementers: 40days is a Ruby on Rails project, the code is hosted on GitHub <%= link_to 'here', 'https://github.com/whitecl/devotion-cms' %>. For simplicity's sake, the git project contains the full code and all the branding for this 40days site. The suggested path to re-use the codebase would be to fork the code into your own GitHub account, implement your own organization's branding and launch.</p>
    </li>
  </ol>
</div>