<h5 class="leftPadded">Sign in</h5>

<%= semantic_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <%= f.inputs do %>
    <%= f.input :email %>
    <%= f.input :password, :as => :password %>

    <% if devise_mapping.rememberable? -%>
      <%= f.input :remember_me, :as => :radio %>
    <% end -%>

    <%= f.submit "Sign In" %>
  <% end %>
<% end %>

<p class="leftPadded">
  <%= render :partial => "devise/shared/links" %>
</p>
