<% current_season = seasons.first %>
<% if !day.nil? %>
  <% current_season = day.season %>
  <% session[:current_season] = current_season %>
<% elsif !session[:current_season].nil? %>
  <% current_season = session[:current_season] %>
<% end %>

<div id="devotion_calendar">

  <ul id="calendar_nav">
    <% seasons.each do |season| %>
      <li data-season-id="<%= season.id %>" <%= 'class="selected"'.html_safe if current_season == season %>><%= season.navigation_title %></li>
    <% end %>
  </ul>

  <% seasons.each do |season| %>
    <ul class="season_day_box <%= 'hidden' unless current_season == season %>" id="calendar-season-<%= season.id %>">
      <% season.devotion_days.published.each do |devotion_day| %>
        <li><%= link_to devotion_day.day_no.to_s, day_path(devotion_day.id) %></li>
      <% end %>
    </ul>
    <div class="clear"></div>
  <% end %>
</div>