<!DOCTYPE html>
<html>
	<head>
		<title>40 Days - Exodus Church For Bloomington</title>
		<%= stylesheet_link_tag    "application" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div id="subcontainer">
			<div id="sidebar">

				<div id="logo_container">
					<a href="/">
						<%= image_tag "logo.png", {:alt => "logo", :id => "logo"} %>
					</a>
				</div>

				<div id="archives">
					<h6>Reflections</h6>
					<%= render 'layouts/calendar', seasons: @navigation_seasons %>
				</div>

				<div id="signup">
					<%= render 'subscriptions/form' %>
				</div>

				<div id="exodus">
					<a href="http://exodusbloomington.org">
						<%= image_tag "exodus.png", {:alt => "Exodus" } %>
					</a>
				</div>

				<% if defined?(@day) and !@day.nil? %>
					<div id="navigation">
						<% if @day.has_previous %>
							<%= link_to '< Previous', day_path(@day.day_no - 1), :id => "previousLink" %>
						<% end %>

						<% if @day.has_next %>
							<%= link_to 'Next >', day_path(@day.day_no + 1), :id => "nextLink" %>
						<% end %>
					</div>
				<% end %>

			</div>


			<div id="main_body">
				<div id="header">
					<ul>
						<li><%= link_to 'Home', '/' %></li>
						<li><%= link_to 'About ', about_days_path %></li>
						<li><%= link_to 'FAQ', faq_days_path %></li>
						<% if contributor_signed_in? %>
							<li>
								<%= link_to 'My Reflections', devotions_path %>
							</li>
							<li>
								<%= link_to 'New Reflection', new_devotion_path %>
							</li>
							<li>
								<%= link_to 'Log Out', destroy_contributor_session_path, method: :delete %>
							</li>
						<% else %>
							<li>
								<%= link_to 'Log In', new_contributor_session_path %>
							</li>
							<li>
								<%= link_to 'Sign Up', new_contributor_registration_path %>
							</li>
						<% end %>
					</ul>
				</div>

				<% if !notice.nil? %>
					<div class="notice">
						<%= notice %>
					</div>
				<% end %>

				<% if !alert.nil? %>
					<div class="alert">
						<%= alert %>
					</div>
				<% end %>

				<div id="content_container">
					<%= yield %>
				</div>

			</div>
		</div>

	</body>
</html>
