<!DOCTYPE html>
<html>
<head>
  <title>DevotionCms</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div><%= link_to '40 Days', days_path %> - App Header goes here</div>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <div>
    <p>This DIV is for the content area</p>
  <%= yield %>
  </div>

  <div>
    <p>Navigation</p>
  </div>

</body>
</html>
