<!DOCTYPE html>
<html>
	<head>
		<title>40 Days - Exodus Church For Bloomington</title>
		<%= stylesheet_link_tag    "application" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div id="header">
			<!--<%= link_to '40 Days', days_path %>-->
			<div id="logo_container">
				<%= image_tag "logo.png", {:alt => "logo", :id => "logo"} %>
			</div>
			<div id="reflections">
				<div>
					...daily reflections for the exodus community
				</div>
			</div>
			<div id="about">
				<div>
					<%= link_to 'About 40days', about_days_path %>
				</div>
			</div>
		</div>

		<div id="main_body">
			<% if !notice.nil? %>
				<div class="notice">
					<%= notice %>
				</div>
			<% end %>
			<% if !alert.nil? %>
				<div class="alert">
					<%= alert %>
				</div>
			<% end %>

			<div id="content_container">
				<%= yield %>
			</div>

			<div id="sidebar">
				<% unless contributor_signed_in? %>
					<%= render 'subscriptions/form' %>
				<% end %>

				<div id="archives">
					<h6>Devotions</h6>
					<%= render 'layouts/calendar', seasons: @navigation_seasons %>
				</div>
				<div id="navigation">
					<h6>User Menu</h6>
					<ul>
						<% if contributor_signed_in? %>
							<li>
								<%= link_to 'My Reflections', devotions_path %>
							</li>
							<li>
								<%= link_to 'New Reflection', new_devotion_path %>
							</li>
							<li>
								<%= link_to 'Contributor Log Out', destroy_contributor_session_path, method: :delete %>
					<% else %>
							<li>
								<%= link_to 'Contributor Log In', new_contributor_session_path %>
							</li>
							<li>
								<%= link_to 'Contributor Sign Up', new_contributor_registration_path %>
							</li>
						<% end %>
					</ul>
				</div>

				<div>
					<h6>More</h6>
					<ul>
						<li><%= link_to '40days FAQ', faq_days_path %></li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>
