<!DOCTYPE html>
<html>
<head>
  <title>DevotionCms</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div><%= link_to '40 Days', days_path %> - App Header goes here</div>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <div>
    <p>This DIV is for the content area</p>
  <%= yield %>
  </div>

  <div>
    <p>Navigation</p>

    <% if contributor_signed_in? %>
    <div>
      <p><%= link_to 'My Devotions', devotions_path %></p>
      <p><%= link_to 'New Devotion', new_devotion_path %></p>
    </div>
    <% end %>

    <div>
      <% if contributor_signed_in? %>
      <p><%= link_to 'Log Out', destroy_contributor_session_path, method: :delete %></p>
      <% else %>
      <p><%= link_to 'Log In', new_contributor_session_path %></p>
      <p><%= link_to 'Sign Up', new_contributor_registration_path %></p>
      <% end %>
    </div>
  </div>

</body>
</html>
